# Virtual environments
venv/
.venv/
env/
.env/

# Datasets folder
data/
preprocessed_data/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jetbrains
.idea/